body {
    margin: .5rem;
    background-color: #93b8d7;
    color: white;
}
body nav a {
    color: white;
    font-size: 2.5rem;
    padding-right: .5em;
}
#social-links {
    display: none;
}
main {
    text-align: center;
    font-family: "Kaushan Script", "fantasy";
    margin-top: 23vh;
}
main h1 {
    font-size: 4rem;
}
main h2 {
    font-size: 2rem;
    margin-top: 2em;
}
footer {
    display: none;
}
@media only screen and (min-width: 598px) {
    #social-links {
      display: block;
    }
    #hamburger-menu {
        display: none;
    }
  }
  @media only screen and (min-width: 768px) {
      body {
          background-image: url(../images/splash-md.jpg);
          background-position: center;
          background-size: cover;
      }
      html {
          height: 100%;
      }
      footer {
          display: block;
          position: fixed;
          right: 0;
          bottom: 0;
      }
      body main {
          text-shadow: #153c43 1px;
      }
    }
    @media only screen and (min-width: 992px) {
        body {
            background-image: url(../images/splash-lg.jpg);
        }
        body nav a {
            font-size: 1.5rem;
        }
        body h1 {
            font-size: 5rem;
        }
        body h2 {
            font-size: 3rem;
        }
    }
    @media only screen and (min-width: 1200px) {
        body {
            background-image: url(../images/splash-xl.jpg);
        }
    }
